<section id="about-us" class="parallax">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
          <h2>About us</h2>
          <p>Gabri Doga -CEO of Populace, Inc. a mobile and technology company located in the Romania, Iasi.
            With more then 4 years of mobile and web development experience, we have developed over 50 apps, all available in the App Store and website.
            In addition to these publicly available apps we have developed for last years.</p>

          <p>Also getting great feedbacks while assisting startups and entrepreneurs in turning ideas into apps, suggesting easy and stable solutions based on my large experience and leading the preliminary process prior to the actual development.
            I've been working on iOS/Android projects for the last seven years, using almost any related technology: Maps, Web Services, Parse.com, Push Notifications, Core Data/SQLite databases, regular expressions, Augmented Reality, barcodes handling, etc.
            Also, during the last five years I've started managing large mobile projects, acting as analyst/architect and leading teams of developers.

            This mean is android , ios , phoneGap , web deveopment by using Ruby on rails.</p>



          <p>Cood communicatio skill for my clients.

            My available is anytime and anyware.

            I hope to going as well with you on Upwork.</p>

          <p>Regards.</p>

        </div>
      </div>
      <div class="col-sm-6">
        <div class="our-skills wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <p class="lead">User Experiances</p>
            <div class="progress">
              <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="95">95%</div>
            </div>
          </div>
          <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="400ms">
            <p class="lead">Web and Mobile  Design</p>
            <div class="progress">
              <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="75">75%</div>
            </div>
          </div>
          <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
            <p class="lead">Programming</p>
            <div class="progress">
              <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="93">93%</div>
            </div>
          </div>
          <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <p class="lead">Interest</p>
            <div class="progress">
              <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="90">90%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!--/#about-us-->