<section id="services">
  <div class="container">
    <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="row">
        <div class="text-center col-sm-8 col-sm-offset-2">
          <h2>Our Services</h2>
          <p>See how we will help your app to become a huge success!</p>
        </div>
      </div>
    </div>
    <div class="text-center our-services">
      <div class="row">
        <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="service-icon">
            <i class="fa fa-flask"></i>
          </div>
          <div class="service-info">
            <h3>Brand Identity</h3>
            <p>You can create look very Brand Indentity</p>
          </div>
        </div>
        <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
          <div class="service-icon">
            <i class="fa fa-umbrella"></i>
          </div>
          <div class="service-info">
            <h3>Creative Idea</h3>
            <p>Do you don't have greate any yet?Don't worrry about it.We will support good idea for your own base full experience</p>
          </div>
        </div>
        <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
          <div class="service-icon">
            <i class="fa fa-cloud"></i>
          </div>
          <div class="service-info">
            <h3>Awesome Support</h3>
            <p>Fromt start to end! After the project is done, we will deliver the full source code and submit the app to app store under your full copyrights.I will support bug fixing for free for about 1-3 months after the project is delivered.</p>
          </div>
        </div>
        <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="650ms">
          <div class="service-icon">
            <i class="fa fa-coffee"></i>
          </div>
          <div class="service-info">
            <h3>Professional Design</h3>
            <p>UI/UX MOBILE APP FLAT WITH MATERIAL DESIGN BY SIMPLE AND CLEAN.RESPONSIVE WEB DESIGN</p>
          </div>
        </div>
        <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="750ms">
          <div class="service-icon">
            <i class="fa fa-bitbucket"></i>
          </div>
          <div class="service-info">
            <h3>App Development</h3>
            <p>Mobile app and web development-social,photo sharing,payment system,third part server,backend,traveling,sport,health,education,dating,gps location service </p>
          </div>
        </div>
        <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="850ms">
          <div class="service-icon">
            <i class="fa fa-gift"></i>
          </div>
          <div class="service-info">
            <h3>Clean Code</h3>
            <p>Intelegent type algorithm ,High improve using and extends,improve speed,non bug</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!--/#services-->