<section id="team">
  <div class="container">
    <div class="row">
      <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
        <h2>Our Amazing team</h2>
        <p>I have talent developer and designer for my on line development</p>
      </div>
    </div>
    <div class="team-members">
      <div class="row">
        <div class="col-sm-3">
          <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="member-image">

              <%= image_tag 'team/1.jpg', class:'img-responsive', alt:'sdf'  %>
            </div>
            <div class="star-rating">
              <span class="fa fa-star-o" data-rating="1"></span>
              <span class="fa fa-star-o" data-rating="2"></span>
              <span class="fa fa-star-o" data-rating="3"></span>
              <span class="fa fa-star-o" data-rating="4"></span>
              <span class="fa fa-star-o" data-rating="5"></span>
              <input type="hidden" name="whatever" class="rating-value" value="5">
            </div>
            <div class="member-info">
              <h3>Gabri Doga</h3>
              <h4>Mobile &amp; Web developer</h4>
              <p>Have experience 7+ years with mobile and web development</p>
            </div>
            <div class="social-icons">
              <ul>
                <li><a class="facebook" href="https://www.facebook.com/gabri.doga"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="https://twitter.com/bestsuperdoga"><i class="fa fa-twitter"></i></a></li>
                <li><a class="linkedin" href="https://www.linkedin.com/in/gabri-doga-52b8a5a9?trk=nav_responsive_tab_profile"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="github" href="https://github.com/gabridoga"><i class="fa fa-github"></i></a></li>

              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="500ms">
            <div class="member-image">

              <%= image_tag 'team/2.jpg', class:'img-responsive', alt:'sdf'  %>

            </div>
            <div class="star-rating">
              <span class="fa fa-star-o" data-rating="1"></span>
              <span class="fa fa-star-o" data-rating="2"></span>
              <span class="fa fa-star-o" data-rating="3"></span>
              <span class="fa fa-star-o" data-rating="4"></span>
              <span class="fa fa-star-o" data-rating="5"></span>
              <input type="hidden" name="whatever" class="rating-value" value="5">
            </div>
            <div class="member-info">
              <h3>Marcus Isak</h3>
              <h4>IOS developer</h4>
              <p>Have experience 4+ years ios app development</p>
            </div>
            <div class="social-icons">
              <ul>
                <!--<li class="scroll" ><a href="#services">Service</a></li>-->
                <li><a class="facebook" ><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" ><i class="fa fa-twitter"></i></a></li>
                <li><a class="linkedin" ><i class="fa fa-linkedin"></i></a></li>

              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="800ms">
            <div class="member-image">

              <%= image_tag 'team/3.jpg', class:'img-responsive', alt:'sdf'  %>
            </div>
            <div class="star-rating">
              <span class="fa fa-star-o" data-rating="1"></span>
              <span class="fa fa-star-o" data-rating="2"></span>
              <span class="fa fa-star-o" data-rating="3"></span>
              <span class="fa fa-star-o" data-rating="4"></span>
              <span class="fa fa-star-o" data-rating="5"></span>
              <input type="hidden" name="whatever" class="rating-value" value="5">
            </div>
            <div class="member-info">
              <h3>Branislv Zlatic</h3>
              <h4>Android developer</h4>
              <p>Have experience 4+years with android app development</p>
            </div>
            <div class="social-icons">
              <ul>
                <li><a class="facebook" href="https://www.facebook.com/profile.php?id=100013451220529"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="https://twitter.com/ZlaticBranislav"><i class="fa fa-twitter"></i></a></li>
                <li><a class="linkedin" href="https://www.linkedin.com/in/branislav-zlatic-1006a9128?trk=nav_responsive_tab_profile"><i class="fa fa-linkedin"></i></a></li>

              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="1100ms">
            <div class="member-image">

              <%= image_tag 'team/4.jpg', class:'img-responsive', alt:'sdf'  %>
            </div>
            <div class="star-rating">
              <span class="fa fa-star-o" data-rating="1"></span>
              <span class="fa fa-star-o" data-rating="2"></span>
              <span class="fa fa-star-o" data-rating="3"></span>
              <span class="fa fa-star-o" data-rating="4"></span>
              <span class="fa fa-star-o" data-rating="5"></span>
              <input type="hidden" name="whatever" class="rating-value" value="5">
            </div>
            <div class="member-info">
              <h3>Marian Dixon</h3>
              <h4>UI/UX Designer</h4>
              <p>Have experience mobile and web design looks material ,flat</p>
            </div>
            <div class="social-icons">
              <ul>
                <li><a class="facebook" ><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" ><i class="fa fa-twitter"></i></a></li>
                <li><a class="linkedin" ><i class="fa fa-linkedin"></i></a></li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!--/#team-->