<section id="twitter" class="parallax">
  <div>
    <a class="twitter-left-control" href="#twitter-carousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
    <a class="twitter-right-control" href="#twitter-carousel" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="twitter-icon text-center">
            <i class="fa fa-twitter"></i>
            <h4>Themeum</h4>
          </div>
          <div id="twitter-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="item active wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                <p>Introducing About firt time work on Upwork <a href="https://play.google.com/store/apps/details?id=com.gari.canarychallenge&hl=en"><span> Canary challenge 2016 </span>google play app store</a></p>
              </div>
              <div class="item">
                <p>We are developing and updating Online dating apps <a href="https://play.google.com/store/apps/details?id=com.jaumo"><span> Jaumo </span> Google paly sotre </a></p>
              </div>
              <div class="item">
                <p>Powerful Online photo sharing app have 10000+uers on google app store <a href="https://play.google.com/store/apps/details?id=com.peekinc.peek&hl=en"><span>Peek</span> For united states clients</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!--/#twitter-->